.header__container {
  width: 100vw;
  height: 100px;
  background-color: #555;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.425);
  /* justify-content: center; */
}

.all_trips_btn {
  font-size: 200%;
}

.all__trips {
  flex: 1;
}

.sign__out {
  justify-self: flex-end;
}
