<!-- <amplify-sign-out class="sign_out"></amplify-sign-out> -->
<!-- <div>Hello, {{user.email}}</div> -->
<div class="header__container">
  <div class="all__trips">
    <button (click)="onClickAllTrips()" class="btn btn-primary all_trips_btn">All Trips</button>
  </div>
  <div class="sign__out">
    <button (click)="onSignOut()" class="btn btn-primary">Sign Out</button>
  </div>
</div>