.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cover section */

.cover {
  margin: 30px 0;
  width: 80%;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.568);
  position: relative;
}

.cover__image {
  width: 100%;
}

.cover__text {
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.836);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip__title {
  width: 100%;
  font-size: 7vw;
  font-weight: 15;
  text-align: center;
  margin-bottom: 3%;
}

.trip__dates {
  padding: 0.5% 0;
  font-size: 3vw;
  font-weight: 400;
  flex: 1;
}

.description {
  padding: 0 2% 5% 2%;
  font-size: 2vw;
  justify-self: flex-end;
  text-align: center;
}

.edit__cover_btn_wrapper {
  width: 4.5vw;
  height: 4vw;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.edit__trip_btn {
  flex: 1;
  font-size: 2.5vw;
  height: 100%;
  justify-self: center;
  align-self: center;
  padding: 0;
}

/* Edit cover */

.edit__cover {
  width: 80%;
}

/* Add image section */

.add__img_btn {
  font-size: 300%;
  color: #555;
  width: fit-content;
  height: fit-content;
}

.add__image {
  width: 80%;
}

.image__caption {
  display: flex;
}

.image__caption label {
  flex: 0 0 25%;
}

.input-file-button {
  font-size: 100%;
}

/* Images section */

.images {
  width: 80%;
  background-color: rgb(24, 199, 181);
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  padding: 0.5%;
  margin: 2% 0;
}

.image_container {
  padding: 1%;
}

.img_col {
  flex: 0 0 33.333%;
  flex-direction: column;
}
