<div class="wrapper" *ngIf=trip>
  
  <!-- Cover -->
  <div class="cover" *ngIf =!editCoverMode (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img class="cover__image" src="{{trip.coverImage}}" alt="">
    <div class="cover__text">
      <h1 class="trip__title">{{trip.tripName}}</h1>
      <h3 class="trip__dates">{{trip.tripStart | date: 'd MMM y'}} - {{trip.tripEnd | date: 'd MMM y'}}</h3>
      <div class="description">
        <p>{{trip.description}}</p>
      </div>
      <div class="edit__cover_btn_wrapper">
        <mat-icon *ngIf="hovering" class="btn btn-secondary edit__trip_btn" (click)="onEditCover()" style="cursor: pointer;">create</mat-icon>
      </div>
    </div>
  </div>

  <!-- Edit cover form -->
  <div class="edit__cover" *ngIf="editCoverMode">
    <app-add-edit-form (results)="onSubmitEditCover($event)" [trip]="trip"></app-add-edit-form>
  </div>

  <!-- Loading spinner -->
  <div *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <!-- Images -->
  <div class="images" *ngIf="trip.images.length > 0">
    <div class="img_col">
      <div class="image__container"*ngFor="let image of trip.images; let i=index">
        <app-trip-image [image]="image" (deletingImage)="deleteImage($event)" (updateCaption)="changeCaption($event)" *ngIf="(i % 3)==0"></app-trip-image>
      </div>
    </div>
    <div class="img_col">
      <div class="image__container"*ngFor="let image of trip.images; let i=index">
        <app-trip-image [image]="image" (deletingImage)="deleteImage($event)" (updateCaption)="changeCaption($event)" *ngIf="(i % 3)==1"></app-trip-image>
      </div>
    </div>
    <div class="img_col">
      <div class="image__container"*ngFor="let image of trip.images; let i=index">
        <app-trip-image [image]="image" (deletingImage)="deleteImage($event)" (updateCaption)="changeCaption($event)" *ngIf="(i % 3)==2"></app-trip-image>
      </div>
    </div>
  </div>

  <!-- Add image button -->
  <div  
    (click)="addImage()"
    *ngIf="!addImageMode"
    >
    <mat-icon class="add__img_btn" style="cursor: pointer;">add_circle</mat-icon>
  </div>

  <!-- Add image form -->
  <div class="add__image">
    <form 
      #addImageForm="ngForm"
      (ngSubmit)="onSubmitAddImage(addImageForm)"
      class="__form"
      *ngIf="addImageMode">
  
      <div class="form__heading">
        <div>Add image to '{{trip.tripName}}'</div>
      </div>
      <div class="image__caption">
        <label for="caption">Caption</label>
        <textarea 
          type="text"
          id="caption"
          class="form-control small_input"
          ngModel
          name="caption"
          maxlength="200"
        ></textarea>
      </div>
      <div class="image_and_buttons">
        <div class="column_1">
          <div class="input-file-wrap">
            <label class="image-label">Cover Image:</label>
            <div class="input-file-button">
              <label class="btn btn-secondary" for="coverImage">Change file</label>
            </div>
            <input 
              type="file"
              (change)="fileChangeEvent($event)"
              id="coverImage"
              accept="image/*"
              name="coverImage"
              class="inputfile"
              required
            >
          </div>
          <div class="cover_image_error">
            <p *ngIf="error">{{error}}</p>
          </div>
          <div class="buttons">
            <button 
              class="btn btn-secondary" 
              type="submit" 
              [disabled]="!isImageSaved">
                Add
            </button>
            <button 
              class="btn btn-danger" 
              type="button"
              (click)="onCancelAddImage()">
                Cancel
            </button>
          </div>        
        </div>
        <div class="column_2">
          <div *ngIf="isImageSaved">
            <img [src]="imageBase64" />
          </div>
        </div>
      </div>
    </form>
  </div>

</div>