/* .image {
  margin: 2%;
  max-width: 96%;
  height: auto;
} */

.__form {
  background-color: rgba(255, 255, 255, 0);
}

.image__container {
  font-size: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 2%;
}

.image_wrapper {
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 2%;
}

.close {
  font-size: 1.5vw;
}

.caption_wrapper {
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 4%;
}

.caption {
  font-size: 2vw;
  text-align: center;
}

.caption_input_text {
  font-size: 50%;
}

.done_btn {
  /* margin-top: 10%; */
  padding-top: 3%;
  border: none;
  opacity: 1;
  box-shadow: none;
  margin: 0;
  justify-self: center;
  color: #555;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}

.caption_form {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}
