<div class="image__container"(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="close" *ngIf="hovering" (click)="onDeleteImage(image.image)" style="cursor: pointer;">
    <a>X</a>
  </div>
  <div class="image_wrapper">
    <a href="{{image.image}}">
      <img src="{{image.image}}" alt="" class="image">
    </a>
  </div>
  <div class="caption_wrapper" *ngIf="hovering || editCaptionMode">
    <div class="caption" (click)="onClickCaption()" *ngIf="!editCaptionMode">{{image.caption}}</div>
    <form
      #editCaptionForm="ngForm" 
      (ngSubmit)="onSubmitCaption(editCaptionForm)"
      *ngIf="editCaptionMode"
      class="caption_form">
      <div class="caption__input">
        <textarea 
          type="text"
          id="caption"
          class="form-control caption_input_text"
          [ngModel]="image.caption"
          name="caption"
        ></textarea>
      </div>
      <button class="done_btn"
        type="submit"
        >
        <mat-icon style="cursor: pointer;">check_circle</mat-icon>
      </button>
    </form>
  </div>
</div>
<!-- <div class="caption__container">
  
  <p class="caption" (click)="onClickCaption()" *ngIf="!editCaptionMode">{{image.caption}}</p>
</div> -->
