.trip-card__container {
  box-sizing: border-box;
  position: relative;
  height: 29vw;
  max-width: 80vw;
  margin: 2.5% 0;
}

.close {
  font-size: 2vw;
}

.subcontainer {
  display: flex;
  background-color: rgb(24, 199, 181);
  border-radius: 4px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  align-items: stretch;
  height: 100%;
}

.trip__hero {
  height: 100%;
  width: fit-content;
  padding: 2% 0.5% 2% 2%;
}

.img {
  background-color: #fff;
  display: block;
  /* width: 100%; */
  height: 100%;
  width: auto;
}

.trip__content {
  flex: 1;
  align-items: center;
  background: white;
  padding: 2% 2%;
  margin: 2% 2% 2% 0%;
  width: 30vw;
  font-size: 2vw;

  display: flex;
  flex-direction: column;
}

.title {
  font-size: 115%;
  margin-bottom: 5%;
}

.description {
  font-size: 60%;
  flex: 1;
}

.trip__dates {
  font-size: 80%;
  align-items: center;
  justify-content: end;
}
