<div class="trip-card__container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" style="cursor: pointer;">
  <div class="close" (click)="onDeleteTrip()" style="cursor: pointer;"*ngIf="hovering">
    <a >X</a>
  </div>
  <div class="subcontainer" (click)="onSelect()">
    <div class="trip__hero">
      <img class="img" src="{{trip.coverImage}}" alt="">
    </div>
    <div class="trip__content">
      <h1 class="title">{{trip.tripName}}</h1>
      <p class="description">{{trip.description}}</p>
      <h3 class="trip__dates">{{trip.tripStart | date: 'd MMM y'}} - {{trip.tripEnd | date: 'd MMM y'}}</h3>
    </div>
  </div>
</div>