.btn-primary {
  background-color: rgb(24, 199, 181);
  color: black;
  border: solid #666 1pt;
}

.btn-secondary {
  /* background-color: rgb(24, 199, 181);
  color: black;
  border: solid #666 1pt; */
}

.btn-success {
}

.btn-danger {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border: solid #666;
}

.close {
  display: block;
  object-position: left top;
  background-color: #555;
  border: #555 solid;
  color: #ddd;
  border-radius: 20%;
  width: fit-content;
  height: fit-content;
  padding: 0.5% 1%;
  text-align: center;
  opacity: 1;
  text-shadow: none;
  font-weight: 10pt;
  position: absolute;
}
