.__form {
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  background-color: rgb(24, 199, 181);
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 2.5vw;
}

.form-control {
  font-size: 80%;
}

.form__heading {
  align-self: center;
  margin-bottom: 3%;
  text-align: center;
  font-size: 200%;
  font-weight: 30;
}

.small_input {
  font-size: 70%;
}

.cover_image_error {
  font-size: 70%;
  padding-left: 3%;
  padding-bottom: 1%;
}

/* Bottom section */

.image_and_buttons {
  flex: 0 0 20%;
  margin-top: 3%;
  display: flex;
}

/* Column 1 */

.column_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Row 1 */

.input-file-wrap {
  flex: 1;
  position: relative;
  display: flex;
}

.image-label {
  flex: 0 0 40%;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153, 153, 153);
}

/* Row 2 */

.buttons {
  display: flex;
  justify-self: end;
  font-size: 80%;
}

.buttons button {
  margin: 1% 12% 1% 1%;
  font-size: 110%;
}

/* Column 2 */

.column_2 {
  flex-direction: column;
  justify-self: end;
}

.column_2 img {
  height: 150px;
  background-color: #fff;
}
