.trip__name {
  display: flex;
}

.trip__name label {
  flex: 0 0 25%;
}

.dates {
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dates label {
  flex: 0 1 25%;
}

.start__date,
.end__date {
  flex: 1;
}

.dates .dash {
  flex: 0 0 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
